#include <windows.h>
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
1 VERSIONINFO
	FILEVERSION     1,0,8,0
	PRODUCTVERSION  1,0,8,0
	FILEOS          VOS_NT_WINDOWS32
	FILETYPE        VFT_APP
{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904b0"
		{
			VALUE "ProductName", "xmp-coverart"
			VALUE "ProductVersion", "rev.8"
			VALUE "FileDescription", "XMPlay Cover/Album Art Plugin"
			VALUE "FileVersion", "rev.8"
			VALUE "InternalName", "xmp-coverart"
			VALUE "OriginalFilename", "xmp-coverart.svp"
			VALUE "Comments", "http://www.un4seen.com"
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x409, 1252
	}
}
